.env
.venv
venv/
env/
*.db
*.sqlite3
*.session
*.session-journal
*.log
bot_run.log
scratch/
mister_tabletus_bot/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
tests/
Dockerfile
.dockerignore
